// =============================================================================
// Mixins - Sass Mixins
// =============================================================================

// Variables
$small: 480px;
$medium: 767px;
$large: 1024px;
$xlarge: 1174px;
$xxlarge: 1400px;

// =============================================================================
// Mixins Styleguide
// =============================================================================

/*
Mixins

markup:


Styleguide 3.4
*/


// =============================================================================
// Mixins Code
// =============================================================================

// Media queries
// Breakpoints for each query
@mixin respondTo($media) {
  @if $media == small {
    @media only screen and (min-width: $small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $medium) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $large) { @content; }
  }
  @else if $media == xlarge {
    @media only screen and (min-width: $xlarge) { @content; }
  }
  @else if $media == xxlarge {
    @media only screen and (min-width: $xxlarge) { @content; }
  }
}

// Tests
.small {
  @include respondTo(small) {
    background: $red;
  }
}
.medium {
  @include respondTo(medium) {
    background: $blue;
  }
}
.large {
  @include respondTo(large) {
    background: $yellow;
  }
}
.xlarge {
  @include respondTo(xlarge) {
    background: $green;
  }
}
.xxlarge {
  @include respondTo(xxlarge) {
    background: $orange;
  }
}
